
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --item_background_color:#009EF7;

    --f_menu: 20px;
    --f_para:15px;
    --w-menu:600;


}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// slide show
.slideShow{
    width: 100%;
    height: 230px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.300);
    margin:5px 0 30px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;


    .slideContent{
        width: 100%;

        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .slide{
            width: 100%;

            height: 230px;
            border-radius: 5px;
            img{
                width: 100%;

                height: 230px;  
                aspect-ratio: 3/2;
                object-fit:fill;
                border-radius: 5px;


            }

        }
        .box_back{
            position: absolute;
            left: 10px;
            cursor: pointer;

            .bx-chevron-left{
                font-size: 40px;
                color: gray;
            }
        }
        .box_next{
            position: absolute;
            right: 10px;
            cursor: pointer;

            .bx-chevron-right{
                font-size: 40px;
                color: gray;

            }
        }
    }
}

// body content
.container_body{
    width: 1440px;
    
    padding: 50px 80px;
    .container_body__content{

        .container_body__content__title{
            width: 1280px;
            border-bottom: 4px solid  #009EF7;
            margin-bottom: 5px;
            span{
                padding: 10px 10px;
                font-size: 20px;
                background-color: #009EF7;
                border-radius: 10px 10px 0 0;
                padding-bottom: 5px;
                font-weight: 600;
                color: white;
            }
        }
        .boxCard{
            width: 1280px;
            height: 280px;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
                .box{
                    width: 235px;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
                    cursor: pointer;
                
                    
                    img{
                        aspect-ratio: 3/2;
                        object-fit: cover;
                        width: 100%;
                        height:70%;
                        border-radius: 10px 10px 0 0;
                        transition: .5s;

                        &:hover{
                            transition: .5s;
                            transform: scale(.95);
                        }
                    }
                    .product__name{
                        font-size: 17px;
                        color: black;
                        font-weight: 600;
                    }
                    .product__price{
                        font-size: 20px;
                        color: black;
                        font-weight: 700;
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .product__price__discount{
                            font-size: 24px;
                            color: red;
                        }
                    }
                    .box--image1,.box--image2,.box--image3{
                        display: none;
                    }
                    .product__detail__inCard{
                        display: none;
                    }
                } 
                .nondiscount{
                    .product__price__discount{
                        display: none;
                    }
                    .product__detail__inCard{
                        display: none;
                    }
                }   
                
            
            
        }
        
    }
}
